@import url('https://fonts.googleapis.com/css?family=Cardo|Cormorant+Garamond|Cutive+Mono');

h1 {
	font-family: 'Cutive Mono', monospace;
	text-align: left;
	font-size: 4em;
	font-weight: normal;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 50px;
	text-transform: bold;
}


body {
	font-size:20px;
	font-family: 'Cormorant Garamond', serif;
}

#intro {
	background-image: url("../images/intro.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	color: white;
	font-size: 30px;
	font-family: 'Cutive Mono', monospace;
	text-align: center;
	padding-bottom: 150px;
	padding-top: 150px;
	background-attachment: fixed;
	margin-bottom: 100px;
		}

nav a:hover {
	background-image: url("../images/nav.jpg");
	background-repeat: no-repeat;
}

nav a {
	font-family: 'Cutive Mono', monospace;
	padding:5px;
	text-align: center;
	font-size:30px;
	color: black;
	margin bottom: 10em;
	padding: 1em;
	}	


nav {
	text-align: center;
	display: block;
	padding-bottom: 3em;
}

body {
		font-family: 'Cutive Mono', monospace;
}


a {
	color: #4da6ff;
	text-decoration: none;
}

h2 {
	text-align: center;
	font-size: 3em;
	font-weight: normal;
}


h3 {
	font-size: 2.5em;
	font-weight: normal;

}

footer { 
text-align: center;
}


#two_column {
	margin-left: 10%;
	margin-right: 10%;
	font-family: 'Cormorant Garamond';
	font-size: 1em;
		}

#left {
    float: left;
    width: 600px;
    margin: 20px;
    }

#right {
    float: left;
    width: 600px;
    margin: 20px;
   }

.clearfix:after {
	visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

footer {
	font-family: 'Cormorant Garamond', serif;
}

#editorial {
	font-family: 'Cormorant Garamond', serif;
	margin-left: 10%;
	margin-right: 10%;
}

