@import url('https://fonts.googleapis.com/css?family=Cardo|Cormorant+Garamond|Cutive+Mono');


* {
	margin:0; 
	padding: 0; 
	box-sizing: border-box;
	font-size: 16px;
	}

h1 {
	font-family: 'Cutive Mono', monospace;
	font-size: 4em;
	font-weight: normal;
	text-transform: bold;
	margin-bottom: .5em;
}

header {
	padding: 2em;
	text-align: center;
	font-size: 16px;
}

body {
	font-family: 'Cormorant Garamond', serif;
	}

#intro {
	background-image: url("../images/intro.JPG");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	color: white;
	font-family: 'Cutive Mono', monospace;
	font-size: 2em;
	text-align: center;
	padding-top: 10%;
	padding-bottom: 10%;
	background-attachment: fixed;
	margin-bottom: 10%;
	line-height: 1em;
	min-height: 70vh;
		}

nav a:hover {
	background-image: url("../images/nav.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	}

nav a {
	font-family: 'Cutive Mono', monospace;
	padding:5em;
	text-align: center;
	font-size:2em;
	color: black;
	padding: 1em;
	}	

a {
	color: #4da6ff;
	text-decoration: none;
}

h2 {
	text-align: center;
	font-size: 3em;
	font-weight: normal;
	background-image: url("../images/logo2.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	padding-bottom: 1em;
}


h3 {
	font-size: 2.5em;
	font-weight: normal;
	line-height: 1.5em;
}

h4 {
	line-height: 1.5em;
	padding-bottom: 1em;
	font-weight: 400;
}

h6 {
	font-weight: normal;
	text-align: center;
	margin-bottom: 1em;
}


#journal {
	font-family: 'Cormorant Garamond';
	font-size: 1em;
	max-width: 75em;
	margin: auto;
	margin-bottom: 3em;
		}		

.latestposts {
    float: left;
    width: 33%;
    padding: 1em;
    min-height: 32em
        }

.latestposts img{
  	width: 100%;
  	display:block;
  }

.latestposts p {
	margin: 1em 0 0;
}
.example {
	position:relative;
	display:block;
}
.example div {
	color:rgba(255,255,255,0);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(128,0,128,0);
    transition-duration: 1s;
}
.example p {
	font-size:2em;
	margin:0;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.example:hover div {
	background: rgba(145,210,224,0.75);
	color:rgba(255,255,255,.9);
}

#collage {
	font-family: 'Cormorant Garamond', serif;
	margin: auto;
	width: 80%;
	text-align: center;
		}		

#collage img{
	padding: 1%;
	width: 40%;
}

#editorial {
	background-image: url("../images/glamp.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	color: white;
	font-size: 2em;
	font-family: 'Cutive Mono', monospace;
	text-align: left;
	padding-top: 25%;
	background-attachment: fixed;
	margin-bottom: 10%;
	line-height: 2em;
	min-height: 70vh;
}

.clearfix:after {
	visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

footer {
	margin-top: 5%;
	text-align: center;
	font-family: 'Cormorant Garamond', serif;
	margin-top: 10em;
}


#mail {
	padding-bottom: 3em;
	background-color: rgb(211,211,211);
	width: 40%;
	margin: auto;
	color: white;
	font-size: 2em;
	text-align: center;
	font-family: 'Cutive Mono', monospace;
	padding: 2.5%;
	margin-bottom: 6em;
	margin-top: 1em;
	font-size: 2em;
}


footer a {
	color: white;
}

#end {
	background-color: black;
	color: white;
	padding: 2%;
	font-family: 'Cutive Mono', monospace;
	line-height: 1em;
	font-size: 2em;
}