h1 {
	font-family: "Courier New", monospace;
	text-align: left;
	font-weight: normal;
	text-align: center;
}

#slogan {
	font-family: "Courier", monospace;
	text-align: left;
	font-size: 34px
	color: grey;
	text-align: center;
}

h2 {
	font-family: "Courier", monospace;
	text-align: center;
	font-weight: normal;
	color: rgb(54,134,225);
}

body {
	font-family: "Courier";
	text-align: center;
	font-weight: normal;
}


#mailcontact {
	text-decoration: normal;
}
